.wp-block-search {


	.wp-element-button {
		border: none;
		box-sizing: border-box;
		min-height: var(--theme-form-field-height, 40px);
	}

	// button with icon
	&.wp-block-search__icon-button .wp-element-button {
		padding: 5px;
		min-width: var(--theme-form-field-height, 40px);
	}

	// button with text
	&.wp-block-search__text-button .wp-element-button {
		padding: 5px 20px;
	}

	// button inside
	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			border-radius: var(--theme-form-field-border-radius, 3px);
			border-color: var(--theme-form-field-border-initial-color);

			.wp-block-search__input {
				border: none;
			}
		}
	}
}