.ct-social-box,
.ct-posts-block,
.ct-dynamic-data,
.ct-about-me-block,
.ct-contact-info-block,
.wp-block-blocksy-share-box {

	a {
		pointer-events: none;
		text-decoration: none;
	}
}


.ct-posts-block,
.ct-contact-info-block {
	
	ul {
		margin: 0;
		padding: 0;
	}
}


.ct-posts-block,
.ct-about-me-block {

	img {
		object-fit: cover;
		border-radius: inherit;
	}
}