.ct-expandable-trigger {
	cursor: pointer;
	background-color: transparent;
	--theme-icon-size: 10px;
	--theme-icon-transition: transform 0.1s ease;

	&[aria-expanded="false"] .ct-icon {
		transform: rotate(180deg);
	}
}

[data-behaviour='drop-down'] {

	&[aria-hidden='true'] {
		height: 0;
		overflow-y: clip;
		visibility: hidden;
	}

	&.is-animating {
		transition: height 0.2s ease, opacity 0.2s ease;
		overflow-y: clip;
	}
}
